body { 
   background-color: white;
   color: #333; 
   padding:0;
   margin:0;
}
#container{
   background-color: #ffefef; 
   margin: 0 auto;
}
#header{
   height: 50px;
   background-color: #afffaf;
}
#content, #sidebar, #menubar{
   min-height: 500px;
   padding: 10px;
}
#content{
   /* width:540px; */ /* container.width - sidebar.width - menubar.width - 6 * padding  */
   float:left;

}
#sidebar{
   background-color: #afafff;
   width:200px;
   float:right;
}
#menubar{
   background-color: #afafff;
   width:200px;
   float:left;
}

#footer{
   height: 20px;
   background-color: #afffaf;
   padding: 1em;
   clear: both;
}
#topmenu{
   float: right;
   padding:0 1em;
   margin:0;
}

#topmenu ul{
   list-style-type: none;
   text-transform: uppercase;
   
}
#topmenu li{
   border-left: 1px solid #727272;
   display: inline;
   padding: 0 8px;
   
}
#topmenu a{
   text-decoration: none;
}
#topmenu a:hover {
   text-decoration: underline;
}


body, p, ol, ul, td {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size:   13px;
   line-height: 18px;
}

pre {
   background-color: #eee;
   padding: 10px;
   font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

.field_label{
   vertical-align: top;
   width: 10em;
   float: left;
   text-align: right;
   margin-top: 0.2em;
   margin-right: 0.5em;
   display: block;
   clear: both;
}
.form_field{
}

.fieldWithErrors label {
   font-weight
}

.fieldWithErrors input {
   border: 2px inset red;
   background-color: #FFDEDC;

}
.fieldWithErrors{ 
   display: inline;
 }
.form_error_message{
   font-size: 8pt;
   color: red;
}

#errorExplanation {
   width: 400px;
   border: 2px solid red;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: #f0f0f0;
}

#errorExplanation h2 {
   text-align: left;
   font-weight: bold;
   padding: 5px 5px 5px 15px;
   font-size: 12px;
   margin: -7px;
   background-color: #c00;
   color: #fff;
}

#errorExplanation p {
   color: #333;
   margin-bottom: 0;
   padding: 5px;
}

#errorExplanation ul li {
   font-size: 12px;
   list-style: square;
}

/* pagination */
.pagination {
   padding: 3px;
   margin: 3px;
}
.pagination a {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #aaaadd;
   text-decoration: none;
   color: #88932b;
}
.pagination a:hover, .pagination a:active {
   border: 1px solid #88932b;
   color: #000;
}
.pagination span.current {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #88932b;
   font-weight: bold;
   background-color: #88932b;
   color: #FFF;
}
.pagination span.disabled {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #eee;
   color: #ddd;
   display: none;
}


fieldset{
   background-color: white;
   border:1px solid #c0c0c0;
   padding: 1em;
   margin: 0.5em 0 1.5em 0;
}

legend{
   border:1px solid #c0c0c0;
   background-color: white;
   padding: 0.1em 0.7em;
   font-size: 12pt;
}

input.submit, input.submit-center {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
/*   color: #000000;
   background-color: #FFFFFF;
   border: 1px solid #6666ff;
*/
}
input.submit{ 
   float: right;
}
input.submit-center{ 
}

.textarea-3-lines{
  height: 3em;
  width: 250px;
}

.textarea-5-lines{
  height: 5em;
  width: 250px;
}


.textarea-10-lines{
  height: 10em;
  width: 468px;
}

.textarea-20-lines{
  height: 20em;
  width: 468px;
}
