<div style="float: left;"> 
  <span class="field_label"> 
    <%%= label %>:<br/>
    <span class="form_error_message"> 
      <%%= error %> 
    </span> 
  </span> 
  <span class="form_field"> 
    <%%= element %> 
  </span> 
</div> 
